.ocean { 
  z-index: 0;
    /* height: 5%; */
    width:100%;
    position:relative;
    bottom:0;
    left:0;
    height: 250px;
    /* top: -198px; */
  }
  
  @media screen and (max-width:768px) {
    .ocean{
      display: none;
    }
  }
  
  .wave {
    z-index: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    filter: brightness(0) saturate(100%) invert(18%) sepia(65%) saturate(2000%) hue-rotate(254deg) brightness(87%) contrast(94%);
        /* filter: brightness(0) saturate(100%) invert(2%) sepia(95%) saturate(6914%) hue-rotate(271deg) brightness(96%) contrast(105%); */
    position: absolute;
    
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    /* top: -175px; */
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }